body {
  text-align: center;
  width: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
h1 {
  text-align: center;
}

#game div {
  border: 2px solid black;
  width: 15%;
  height: 200px;
  margin: 20px;
  display: inline-block;
  background-color: blanchedalmond;
}
